com.sun.security.jgss.krb5.initiate {
com.sun.security.auth.module.Krb5LoginModule required
doNotPrompt=true
useKeyTab=true
keyTab="/keytab/kerberos.keytab"
principal="user@MLAI.COM";
};
pgjdbc {
com.sun.security.auth.module.Krb5LoginModule required
doNotPrompt=true
useKeyTab=true
keyTab="/keytab/kerberos.keytab"
principal="user@MLAI.COM";
};
